# Texas Licenses

We originall got our dataset from the [License Files page](https://www.license.state.tx.us/licensesearch/licfile.asp) from the Texas Department of Licensing and Regulation, but they've changed around since then! I'm pretty sure it's [this dataset](https://www.opendatanetwork.com/dataset/data.texas.gov/7358-krk7), but we'll just use a local version instead of the most current.

# PART ONE: OPENING UP OUR DATASET

## 0. Do your setup

Import what you need to import, etc.

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

## 1. Open the file

We'll start with `licfile.csv`, which is a list of licenses.

In [2]:
df=pd.read_csv("licfile.csv", header=-1, names=["LICTYPE","LICNUMBER","BIZCOUNTY","BIZNAME","BIZLINE1","BIZLINE2","BIZCITYSTATE","BIZTELEPHONE","EXPIRATION","OWNER","MAILLINE1","MAILLINE2","MAILCITYSTATE","MAILCOUNTYCODE","MAILCOUNTY","MAILZIP","TELEPHONE","LICSUBTYPE","CEFLAG"])
df

C:\Users\Anuja\AppData\Local\Programs\Python\Python37-32\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (1,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,LICTYPE,LICNUMBER,BIZCOUNTY,BIZNAME,BIZLINE1,BIZLINE2,BIZCITYSTATE,BIZTELEPHONE,EXPIRATION,OWNER,MAILLINE1,MAILLINE2,MAILCITYSTATE,MAILCOUNTYCODE,MAILCOUNTY,MAILZIP,TELEPHONE,LICSUBTYPE,CEFLAG
0,Associate Auctioneer,7326,ANGELINA,"RISINGER, JIM MARVIN",NaN,NaN,NaN,NaN,8102017,"RISINGER, JIM MARVIN",7668 S US HWY 59,NaN,NACOGDOCHES TX 75964,347.0,NACOGDOCHES,75964,9363665745,NaN,N
1,Associate Auctioneer,7962,UPSHUR,"WILLIAMS, JON ANDRE",NaN,NaN,NaN,NaN,12292017,"WILLIAMS, JON ANDRE",228 FM 1252,NaN,KILGORE TX 75662,183.0,GREGG,75662,9039187899,NaN,N
2,Associate Auctioneer,8406,WILSON,"GUEVARA, JUAN ANTONIO",NaN,NaN,NaN,NaN,9262017,"GUEVARA, JUAN ANTONIO",6909 HWY 181,NaN,POTH TX 78147,493.0,WILSON,78147,NaN,NaN,N
3,Associate Auctioneer,10543,HARRIS,"BOWERS, JAMES BRISCOE II",NaN,NaN,NaN,NaN,11042017,"BOWERS, JAMES BRISCOE II",6767 NORTH FWY,NaN,HOUSTON TX 77076-2027,201.0,HARRIS,77076,7136445566,NaN,N
4,Associate Auctioneer,10642,BELL,"DEMSKY, JOHN EDWARD",NaN,NaN,NaN,NaN,2252018,"DEMSKY, JOHN EDWARD",130 E CLARK ST,NaN,BARTLETT TX 76511,27.0,BELL,76511,2549852228,NaN,N
5,Associate Auctioneer,15650,OUT OF STATE,"THOMPSON, RANDY D",NaN,NaN,NaN,NaN,5042017,"THOMPSON, RANDY D",10995 BELLEVILLE RD,NaN,RINGLING OK 73456,999.0,OUT OF STATE,73456,5802765961,NaN,N
6,Associate Auctioneer,15698,OUT OF STATE,"TUCKER, MONTE EARL",NaN,NaN,NaN,NaN,6162017,"TUCKER, MONTE EARL",19139 HIGHWAY 6,NaN,SAYRE OK 73662-6080,999.0,OUT OF STATE,73662,5802250269,NaN,N
7,Associate Auctioneer,15810,MILAM,"COOPER, THOMAS JAMES",NaN,NaN,NaN,NaN,3182017,"COOPER, THOMAS JAMES",346 MAIN ST,NaN,ROSEBUD TX 76570,145.0,FALLS,76570,2815078713,NaN,N
8,Associate Auctioneer,15835,OUT OF STATE,"BLANKENSHIP, KERRY NEIL",NaN,NaN,NaN,NaN,5042017,"BLANKENSHIP, KERRY NEIL",10664 BELLEVILLE RD,NaN,RINGLING OK 73456-2014,999.0,OUT OF STATE,73456,5802765961,NaN,N
9,Associate Auctioneer,16784,OUT OF STATE,"DAWES, NICHOLAS MORGAN",NaN,NaN,NaN,NaN,10192017,"DAWES, NICHOLAS MORGAN",3500 MAPLE AVENUE 17TH FLOOR,NaN,DALLAS TX 75219,113.0,DALLAS,75219,2144091137,NaN,N
10,Associate Auctioneer,16893,LAMAR,"LESTER, TIMMY EUGENE",NaN,NaN,NaN,NaN,8192017,"LESTER, TIMMY EUGENE",167 COUNTY ROAD 16380,NaN,CUNNINGHAM TX 75434,277.0,LAMAR,75434,9037825759,NaN,N
11,Associate Auctioneer,16969,NACOGDOCHES,"MANCILL, MARK DUANE",NaN,NaN,NaN,NaN,4212017,"MANCILL, MARK DUANE",116 TRAILWOOD CIR,NaN,LUFKIN TX 75904-4331,5.0,ANGELINA,75904,9366749636,NaN,N
12,Associate Auctioneer,16990,BEXAR,"HUDDLESTON, SHAWN ALAN",NaN,NaN,NaN,NaN,2182017,"HUDDLESTON, SHAWN ALAN",3903 EISENHOUER RD,NaN,SAN ANTONIO TX 78218,29.0,BEXAR,78218,2106815425,NaN,N
13,Associate Auctioneer,17072,ECTOR,"JORDAN, JAMES EUGENE",NaN,NaN,NaN,NaN,2182018,"JORDAN, JAMES EUGENE",6190 CARGO RD,NaN,ODESSA TX 79762,135.0,ECTOR,79762,4322722266,NaN,N
14,Associate Auctioneer,17108,KAUFMAN,"IRWIN, MICHAEL RICHARD",NaN,NaN,NaN,NaN,2252017,"IRWIN, MICHAEL RICHARD",8513 MICHAEL TALTY AVE,NaN,TERRELL TX 75160-7592,257.0,KAUFMAN,75160,4695951384,NaN,N
15,Associate Auctioneer,17241,HOOD,"HALL, WESLEY RYON",NaN,NaN,NaN,NaN,1252018,"HALL, WESLEY RYON",13016 HWY 36,NaN,COMANCHE TX 76442-7305,93.0,COMANCHE,76442,3253565950,NaN,N
16,Associate Auctioneer,17242,ERATH,"JAMES, BACHUS ROSS",NaN,NaN,NaN,NaN,5042017,"JAMES, BACHUS ROSS",471 N HARBIN DR,NaN,STEPHENVILLE TX 76401-2860,143.0,ERATH,76401,2545928394,NaN,N
17,Associate Auctioneer,17669,JOHNSON,"SIDAWI, JOSEPH JAMES",NaN,NaN,NaN,NaN,2082017,"SIDAWI, JOSEPH JAMES",2032 W FM 917,NaN,JOSHUA TX 76058-6060,251.0,JOHNSON,76058,8173200833,NaN,N
18,Associate Auctioneer,17671,MILLS,"SMITH, DAVID JAMES",NaN,NaN,NaN,NaN,2082018,"SMITH, DAVID JAMES",1110 US HIGHWAY 84 WEST,NaN,GOLDTHWAITE TX 76844,333.0,MILLS,76844,3259386750,NaN,N
19,Associate Auctioneer,17672,BROWN,"FERGUSON, JACKIE LEE",NaN,NaN,NaN,NaN,2092018,"FERGUSON, JACKIE LEE",119 E KYLE ST,NaN,BANGS TX 76823,49.0,BROWN,76823,3253727333,NaN,N
20,Associate Auctioneer,17675,UPSHUR,"MCKINLEY, MATTHEW D",NaN,NaN,NaN,NaN,2182018,"MCKINLEY, MATTHEW D",805 BROADWAY AVE,NaN,GLADEWATER TX 75647-2415,183.0,GREGG,75647,9038453830,NaN,N
21,Associate Auctioneer,17676,JOHNSON,"SOWELL, KALEN BRICE",NaN,NaN,NaN,NaN,2182018,"SOWELL, KALEN BRICE",111 N BROADWAY ST,NaN,CRESSON TX 76035,221.0,HOOD,76035,8173821530,NaN,N
22,Associate Auctioneer,17679,ELLIS,"SEVIER, VIRGINIA A",NaN,NaN,NaN,NaN,2252018,"SEVIER, VIRGINIA A",212 S ROGERS,NaN,WAXAHACHIE TX 75165,139.0,ELLIS,75165,9726930572,NaN,N
23,Associate Auctioneer,17680,BELL,"SOMERVILLE, CAL W",NaN,NaN,NaN,NaN,2252017,"SOMERVILLE, CAL W",202 BRANDY LOOP,NaN,KILLEEN TX 76549-9049,27.0,BELL,76549,2542893216,NaN,N
24,Associate Auctioneer,17685,SAN SABA,"BARCLIFT, AUSTIN TYLER",NaN,NaN,NaN,NaN,3172018,"BARCLIFT, AUSTIN TYLER",119 E KYLE,NaN,BANGS TX 76823,49.0,BROWN,76823,3253727333,NaN,N
25,Associate Auctioneer,17687,HARRIS,"FORD, PATRICIA NORA",NaN,NaN,NaN,NaN,3182017,"FORD, PATRICIA NORA",1414 ATLANTA ST,NaN,DEER PARK TX 77536-4704,201.0,HARRIS,77536,2814797848,NaN,N
26,Associate Auctioneer,17689,DALLAM,"SCHAFER, TIMOTHY RYAN",NaN,NaN,NaN,NaN,4012017,"SCHAFER, TIMOTHY RYAN",12449 US HIGHWAY 385,NaN,DALHART TX 79022,111.0,DALLAM,79022,8062446776,NaN,N
27,Associate Auctioneer,17695,EL PASO,"MARTINEZ, BRANDY MARIE",NaN,NaN,NaN,NaN,4112017,"MARTINEZ, BRANDY MARIE",7120 ALTO REY AVE,NaN,EL PASO TX 79912-2104,141.0,EL PASO,79912,9153733887,NaN,N
28,Associate Auctioneer,17696,POTTER,"CLEMANS, ZACHARY LEE",NaN,NaN,NaN,NaN,4112017,"CLEMANS, ZACHARY LEE",2520 CLIMER CIR,NaN,AMARILLO TX 79124-2319,375.0,POTTER,79124,8066833130,NaN,N
29,Associate Auctioneer,17699,EL PASO,"MARTINEZ, ARTURO",NaN,NaN,NaN,NaN,4182017,"MARTINEZ, ARTURO",7120 ALTO REY AVE,NaN,EL PASO TX 79912-2104,141.0,EL PASO,79912,9153733887,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597786,Water Well Driller/Pump Installer,59847,MONTGOMERY,"SNUFFER, KENNETH DAVID",NaN,NaN,NaN,NaN,9162017,"SNUFFER, KENNETH DAVID",13895 E FM 1097 RD,NaN,WILLIS TX 77378-4347,339.0,MONTGOMERY,77378,9.36857e+09,W,N
597787,Water Well Driller/Pump Installer,59856,BEXAR,"MARTINEZ, JUAN R",NaN,NaN,NaN,NaN,9192017,"MARTINEZ, JUAN R",4412 BLUEMEL RD,NaN,SAN ANTONIO TX 78240-1007,29.0,BEXAR,78240,2.10698e+09,M,N
597788,Water Well Driller/Pump Installer,59857,DEAF SMITH,"YOSTEN, BLAKE JOSEPH",NaN,NaN,NaN,NaN,9192017,"YOSTEN, BLAKE JOSEPH",608 N 25 MILE AVE,NaN,HEREFORD TX 79045-3020,117.0,DEAF SMITH,79045,8.06365e+09,KP,N
597789,Water Well Driller/Pump Installer,59858,MIDLAND,"CLICK, JAY MARCUS",NaN,NaN,NaN,NaN,9202017,"CLICK, JAY MARCUS",9701 FM 307,NaN,MIDLAND TX 79706-5112,329.0,MIDLAND,79706,4.32682e+09,W,N
597790,Water Well Driller/Pump Installer,59862,OUT OF STATE,"PENSE, LARRY WAYNE",NaN,NaN,NaN,NaN,9222017,"PENSE, LARRY WAYNE",654 W 138TH ST,NaN,GLENPOOL OK 74033-3445,999.0,OUT OF STATE,74033,9.18322e+09,W,N
597791,Water Well Driller/Pump Installer,59877,OUT OF STATE,"LARA, STEVEN D",NaN,NaN,NaN,NaN,10042017,"LARA, STEVEN D",3922 E UNIVERSITY DR STE 1,NaN,PHOENIX AZ 85034-2208,999.0,OUT OF STATE,85034,6.02453e+09,M,N
597792,Water Well Driller/Pump Installer,59878,WHEELER,"SMITH, JACE E",NaN,NaN,NaN,NaN,10062017,"SMITH, JACE E",8550 FM 3182,NaN,MOBEETIE TX 79061-4701,483.0,WHEELER,79061,8.06827e+09,KLPT,N
597793,Water Well Driller/Pump Installer,59879,MADISON,"BINNICKER, RICHARD ALLEN",NaN,NaN,NaN,NaN,10062017,"BINNICKER, RICHARD ALLEN",103 S MADISON ST,NaN,MADISONVILLE TX 77864-1902,313.0,MADISON,77864,9.36349e+09,PW,N
597794,Water Well Driller/Pump Installer,59886,TARRANT,"CHAVEZ, FRANCISCO JAVIER",NaN,NaN,NaN,NaN,10172017,"CHAVEZ, FRANCISCO JAVIER",2415 CULLEN ST,NaN,FORT WORTH TX 76107-1411,439.0,TARRANT,76107,8.17877e+09,M,N
597795,Water Well Driller/Pump Installer,59887,DEAF SMITH,"GUERRERO, REY S",NaN,NaN,NaN,NaN,10172017,"GUERRERO, REY S",PO BOX 871,NaN,HEREFORD TX 79045-0871,117.0,DEAF SMITH,79045,8.06364e+09,KLPT,N
597796,Water Well Driller/Pump Installer,59889,BURNET,"SAVAGE, CROCKETT NATHANIEL",NaN,NaN,NaN,NaN,10192017,"SAVAGE, CROCKETT NATHANIEL",1351 FM 1980,NaN,MARBLE FALLS TX 78654-7385,53.0,BURNET,78654,8.30693e+09,P,N
597797,Water Well Driller/Pump Installer,59890,OUT OF STATE,"ADAMS, AARON J",NaN,NaN,NaN,NaN,10192017,"ADAMS, AARON J",3922 E UNIVERSITY DR STE 1,NaN,PHOENIX AZ 85034-2208,999.0,OUT OF STATE,85034,6.02453e+09,M,N
597798,Water Well Driller/Pump Installer,59892,MIDLAND,"SCOTT, JAMES A",NaN,NaN,NaN,NaN,10312017,"SCOTT, JAMES A",415 W WALL ST STE 1300,NaN,MIDLAND TX 79701-4417,329.0,MIDLAND,79701,4.32558e+09,W,N
597799,Water Well Driller/Pump Installer,59896,BREWSTER,"HILL, RYAN WADE",NaN,NaN,NaN,NaN,11142017,"HILL, RYAN WADE",5010 TED ST,NaN,ALPINE TX 79830-1049,43.0,BREWSTER,79830,4.32294e+09,KLP,N
597800,Water Well Driller/Pump Installer,59901,HAYS,"THOMPSON, JARED W T",NaN,NaN,NaN,NaN,11222017,"THOMPSON, JARED W T",185 ANGEL FIRE RD,NaN,DRIPPING SPRINGS TX 78620-2477,209.0,HAYS,78620,5.12894e+09,KP,N
597801,Water Well Driller/Pump Installer,59902,DENTON,"THOMAS, WESLEY WAYNE",NaN,NaN,NaN,NaN,11282017,"THOMAS, WESLEY WAYNE",15035 US HIGHWAY 287,NaN,BOWIE TX 76230-5969,337.0,MONTAGUE,76230,9.40873e+09,W,N
597802,Water Well Driller/Pump Installer,59904,BOSQUE,"JURGENSEN, JOSHUA MARK",NaN,NaN,NaN,NaN,11292017,"JURGENSEN, JOSHUA MARK",18099 N HIGHWAY 6,NaN,VALLEY MILLS TX 76689-2963,35.0,BOSQUE,76689,2.54933e+09,KPT,N
597803,Water Well Driller/Pump Installer,59905,HAYS,"MARSH, AARON ANDREW",NaN,NaN,NaN,NaN,12012017,"MARSH, AARON ANDREW",31866 RANCH ROAD 12,NaN,DRIPPING SPRINGS TX 78620-4097,209.0,HAYS,78620,5.12858e+09,P,N
597804,Water Well Driller/Pump Installer,59907,UVALDE,"KILLOUGH, BRUCE WAYNE",NaN,NaN,NaN,NaN,12052017,"KILLOUGH, BRUCE WAYNE",428 MAIN ST,NaN,UTOPIA TX 78884-2602,463.0,UVALDE,78884,8.30966e+09,KP,N
597805,Water Well Driller/Pump Installer,59908,COLLINGSWORTH,"FAULKS, CARSON SLADE",NaN,NaN,NaN,NaN,12062017,"FAULKS, CARSON SLADE",4243 FM 1547,NaN,QUAIL TX 79251-4126,87.0,COLLINGSWORTH,79251,8.06898e+09,KLPTW,N
597806,Water Well Driller/Pump Installer,59911,ATASCOSA,"ATKINS, BRANDON BUCHANAN",NaN,NaN,NaN,NaN,12132017,"ATKINS, BRANDON BUCHANAN",1209 BENSDALE RD,NaN,PLEASANTON TX 78064-1733,13.0,ATASCOSA,78064,8.30281e+09,KPT,N
597807,Water Well Driller/Pump Installer,59912,OUT OF STATE,"WILLIAMS, MARC R",NaN,NaN,NaN,NaN,12152017,"WILLIAMS, MARC R",3922 E UNIVERSITY DR STE 1,NaN,PHOENIX AZ 85034-2208,999.0,OUT OF STATE,85034,6.02453e+09,M,N
597808,Water Well Driller/Pump Installer,59913,LIMESTONE,"WINSTEAD, CLINTON WADE",NaN,NaN,NaN,NaN,12262017,"WINSTEAD, CLINTON WADE",151 PRIVATE ROAD 5762B,NaN,GROESBECK TX 76642-2304,293.0,LIMESTONE,76642,2.54729e+09,W,N
597809,Water Well Driller/Pump Installer,59926,HENDERSON,"LILLEY, CLINTON",NaN,NaN,NaN,NaN,1132018,"LILLEY, CLINTON",1301 E CORSICANA ST,NaN,ATHENS TX 75751-2236,213.0,HENDERSON,75751,9.03675e+09,KLP,N
597810,Water Well Driller/Pump Installer,59929,BOSQUE,"WOODS, JACOB R",NaN,NaN,NaN,NaN,1232018,"WOODS, JACOB R",18099 N HIGHWAY 6,NaN,VALLEY MILLS TX 76689-2963,35.0,BOSQUE,76689,2.54933e+09,P,N
597811,Water Well Driller/Pump Installer,59930,TOM GREEN,"ABEL, JUSTIN C",NaN,NaN,NaN,NaN,1232018,"ABEL, JUSTIN C",6601 RM HIGHWAY 853,NaN,SAN ANGELO TX 76901-9716,451.0,TOM GREEN,76901,3.2595e+09,KP,N
597812,Water Well Driller/Pump Installer,59931,RUNNELS,"GRAY, MATTHEW BRYAN",NaN,NaN,NaN,NaN,1232018,"GRAY, MATTHEW BRYAN",401 VICTOR ST,NaN,ROWENA TX 76875-2608,399.0,RUNNELS,76875,3.25442e+09,KLPW,N
597813,Water Well Driller/Pump Installer,59934,LAVACA,"MAYER, DAVID W",NaN,NaN,NaN,NaN,1272018,"MAYER, DAVID W",966 FM 318 E,NaN,YOAKUM TX 77995-6786,285.0,LAVACA,77995,3.61293e+09,P,N
597814,Water Well Driller/Pump Installer,59936,HOCKLEY,"FRIESEN, FRANCISCO FEHR",NaN,NaN,NaN,NaN,2132018,"FRIESEN, FRANCISCO FEHR",3686 JAMAICA RD,NaN,LEVELLAND TX 79336-9124,219.0,HOCKLEY,79336,8.06598e+09,W,N
597815,Water Well Driller/Pump Installer,59941,WILSON,"BAUER, DAVID A",NaN,NaN,NaN,NaN,2162018,"BAUER, DAVID A",2590 HEINEN RD,NaN,FLORESVILLE TX 78114-6076,493.0,WILSON,78114,8.30392e+09,W,N

In [3]:
#Dropping columns where all values are null
df.dropna(axis=1, how="all", inplace=True)
df.columns_

AttributeError: 'DataFrame' object has no attribute 'columns_'

## 2. That looks terrible, let's add column names.

It apparently doesn't have headers! **Read the file in again, but setting your own column names**. Their [current data dictionary might not perfectly match](https://www.opendatanetwork.com/dataset/data.texas.gov/7358-krk7), but you can use it to understand what the columns are. For the dataset we're using, the order goes like this:

* LICTYPE
* LICNUMBER
* BIZCOUNTY
* BIZNAME
* BIZLINE1
* BIZLINE2
* BIZCITYSTATE
* BIZTELEPHONE
* EXPIRATION
* OWNER
* MAILLINE1
* MAILLINE2
* MAILCITYSTATE
* MAILCOUNTYCODE
* MAILCOUNTY
* MAILZIP
* TELEPHONE
* LICSUBTYPE
* CEFLAG

**Note:** You can rename the columns to things that make sense - "expiration" is a little more manageable than "LICENSE EXPIRATION DATE (MMDDCCYY)". I've named my License Type column LICTYPE, so if you haven't you'll have to change the rest of my sample code to match.

# 3. Force string columns to be strings

The county code and expiration dates are being read in as numbers, which is going to cause some trouble later on. You can force a column to be a certain type (most usually strings) when reading it in with the following code:

    df = pd.read_csv("your-filename.csv", dtype={"colname1": str, "colname2": str})

You don't need to do it for every column, just the ones you want to force!

**Re-import the file, forcing the expiration date, license number, mailing address county code, mailing zip code and telephone to all be strings.**

In [ ]:
df.dtypes

Check the data types of your columns to be sure! If you do it right they'll be `object` (not `str`, oddly).

In [ ]:
#Changing the datatypes to strings
df.EXPIRATION=df.EXPIRATION.astype(str)
df.MAILCOUNTYCODE=df.MAILCOUNTYCODE.astype(str)
df.dtypes

## 4. Convert those expiration dates from MMDDYYYY to YYYY-MM-DD

List slicing forever! It's the thing with the `[]`. There are like five ways to do this one.

In [ ]:
#Cleaning the date variable
#>>Creating separate year, month and date variables
df["year"]=df["EXPIRATION"].str[-4:]
df["month"]=df["EXPIRATION"].str[-8:-6]
df["date"]=df["EXPIRATION"].str[-6:-4]

#>>Filling the month and date variables to width=2
df["month"]=df["month"].str.zfill(2)
df["date"]=df["date"].str.zfill(2)

#>>Creating a date variable by concatenating these individual variables
df["Expiration_date"]=df["year"]+"-"+df["month"]+"-"+df["date"]

#>>Formatting the date variable
df["Expiration_date"]=pd.to_datetime(df["Expiration_date"], format="%Y-%m-%d")

Check the first five expirations to make sure they look right.

In [ ]:
df.dtypes

# PART TWO: LOOKING AT LICENSES

In [ ]:
df=df.drop(["year", "month", "date"], axis=1)

## 5. What are the top 10 most common licenses?

In [ ]:
df.LICTYPE.value_counts().head(10)

## 6. What are the top 10 least common?

In [ ]:
df.LICTYPE.value_counts().sort_values().head(10)

## 7. Try to select everyone who is any type of electrician.

You're going to get an error about `"cannot index with vector containing NA / NaN values"`. Let's work our way in there.

In [ ]:
# Yes I know I left this in here, it's a learning experience! df[df['LICTYPE'].str.contains("Electrician")]

#Note - Unlike in the code provided, I first converted the LICTYPE to str. 

df[df["LICTYPE"].astype(str).str.contains("Electrician")]

## 8. How many of the rows of LICTYPE are NaN?

In [ ]:
df[df["LICTYPE"].isnull()]
#Ans - 7086 observations

Over 7000 licenses don't have types! As a result, when we look for license types with electricians - aka do `df['LICTYPE'].str.contains("Electrician")` - we get three results:

* `True` means `LICTYPE` exists and contains `"Electrician"`
* `False` means `LICTYPE` exists and does not contain `"Electrician"`
* `NaN` means `LICTYPE` does not exist for that row

## 9. Actually getting everyone who is an electrician

This doesn't work when trying to select electricians, though, as NaN is a no-go for a filter. We *could* filter out everywhere the LICTYPE is null, but we could also cheat a little and say "replace all of the `NaN` values with `False` values."

`.fillna(False)` will take every `NaN` and replace it with `False`.

In [ ]:
df["LICTYPE"]=df["LICTYPE"].fillna(False)

## 10. What's the most popular kind of electrician?

In [ ]:
df[df["LICTYPE"].astype(str).str.contains("Electrician")].LICTYPE.value_counts()

#Ans - Apprentice Electrician

## 11. Graph it, with the largest bar on top.

In [ ]:
df[df["LICTYPE"].astype(str).str.contains("Electrician")].LICTYPE.value_counts().sort_values(ascending=True).plot(kind="barh")

## 12. How many sign electricians are there?

There are a few ways to do this one.

In [ ]:
df[df["LICTYPE"].astype(str).str.contains("Sign")].LICTYPE.value_counts().sum()

# PART THREE: LOOKING AT LAST NAMES

## 13. Extract every owner's last name

You want everything before the comma. We've done this before (in a few different ways!).

* **Hint:** If you get an error about missing or `NaN` data, you might use `.fillna('')` to replace every empty owner name with an empty string. This might not happen to you, though, depending on how you do it!

* **Hint:** You probably want to do `expand=False` on your extraction to make sure it comes out as a series instead of a dataframe.

In [ ]:
df["Last_name"]=df["BIZNAME"].str.split(",").str[0]

## 14. Save the last name into a new column

Then check to make sure it exists, and you successfully saved it into the dataframe.

In [ ]:
df["Last_name"]

# 15. What are the ten most popular last names?

In [ ]:
df["Last_name"].value_counts().head(10)

In [ ]:
df[df["Last_name"].isin(values=["NGUYEN", "TRAN", "LE"])].LICTYPE.value_counts()

## 17. Now do all of that in one line - most popular licenses for Nguyen, Tran and Le - without using `&`

In [ ]:
#The solution is in one line

## 18. Most popular licenses for Garcia? Rodriguez? Martinez?

Those are the 3 most common last names for self-identifying Hispanics in the USA.

In [ ]:
df[df["Last_name"].isin(values=["GARCIA", "RODRIGUEZ", "MARTINEZ"])].LICTYPE.value_counts()

## 19. Most popular license for anyone with a last name that ENDS in `-ez`

The answer is not `.str.contains('ez')`, but it isn't necessarily too different. **Make sure your numbers match mine.**

One way involves a `.str.` method that check if a string ends with something, the other way involves a regular expression that has a "end of the string" marker (similar to how we've used `^` for the start of a string before). If you're thinking about the latter, I might take a look at [this page](http://www.rexegg.com/regex-quickstart.html) under "Anchors and Boundaries".

In [ ]:
df['Last_name_EZ']= df['Last_name'].dropna().str.contains('EZ$', regex=True)

In [ ]:
df[df['Last_name_EZ']==True].LICTYPE.value_counts()

## 20. Get that as a percentage

In [ ]:
df[df['Last_name_EZ']==True].LICTYPE.value_counts(normalize=True)*100

# PART FOUR: LOOKING AT FIRST NAMES

## 21. Extract the owner's first name

First, a little example of how regular expressions work with pandas.

In [ ]:
# Build a dataframe
sample_df = pd.DataFrame([
    { 'name': 'Mary', 'sentence': "I am 90 years old" },
    { 'name': 'Jack', 'sentence': "I am 4 years old" },
    { 'name': 'Anne', 'sentence': "I am 27 years old" },
    { 'name': 'Joel', 'sentence': "I am 13 years old" },
])
# Look at the dataframe
sample_df

In [ ]:
# Given the sentence, "I am X years old", extract digits from the middle using ()
# Anything you put in () will be saved as an output.
# If you do expand=True it makes you a dataframe, but we don't want that.
sample_df['sentence'].str.extract("I am (\d+) years old", expand=False)

In [ ]:
# Save it into a new column
sample_df['age'] = sample_df['sentence'].str.extract("I am (\d+) years old", expand=False)
sample_df.head()

**Now let's think about how we're going to extract the first names.** Begin by looking at a few full names.

In [ ]:
df['OWNER'].head(10)

What can you use to find the first name? It helps to say "this is to the left and this is to the right, and I'm going to take anything in the middle."

Once you figure out how to extract it, you can do a `.head(10)` to just look at the first few.

In [ ]:
#I find it easier and safer to split and slice when you have a separator. Not using regex below.

## 22. Saving the owner's first name

Save the name to a new column, `FIRSTNAME`.

In [ ]:
df["Names_list"]=df["OWNER"].str.split(",").str[1]
df["FIRSTNAME"]=df["Names_list"].str.split(" ").str[1]

# 23. Examine everyone without a first name

I purposefully didn't do a nicer regex in order to have some screwed-up results. **How many people are there without an entry in the first name column?**

Your numbers might be different than mine.

In [ ]:
df["FIRSTNAME"].isnull().count()

What do their names look like?

In [ ]:
df[df["FIRSTNAME"].isnull()].OWNER

#They seem to have firm names as placeholders

## 24. If it's a problem, you can fix it (if you'd like!)

Maybe you have another regular expression that works better with JUST these people? It really depends on how you've put together your previous regex!

If you'd like to use a separate regex for this group, you can use code like this:

`df.loc[df.FIRSTNAME.isnull(), 'FIRSTNAME'] = .....`

That will only set the `FIRSTNAME` for people where `FIRSTNAME` is null.

In [ ]:
#N/A

How many empty first names do we have now?

In [ ]:
#Same as above

My code before only worked for people with middle names, but now it got people without middle names, too. Looking much better!

## 25. Most popular first names?

In [ ]:
df["FIRSTNAME"].value_counts().head(10)

## 26. Most popular first names for a Cosmetology Operator, Cosmetology Esthetician, Cosmetologist, and okay honestly anything that seems similar?

If you get an error about "cannot index vector containing NA / NaN values" remember `.fillna(False)` - if a row doesn't have a license, it doesn't give a `True`/`False`, so we force all of the empty rows to be `False`.

In [ ]:
df["Cosmetology_related"]=df["LICTYPE"].fillna(False).str.contains('Cosme')
df[df["Cosmetology_related"]==True].FIRSTNAME.value_counts().head(10)

## 27. Most popular first names for anything involving electricity?

In [ ]:
df["Electricity_related"]=df["LICTYPE"].fillna(False).str.contains('Electri')
df[df["Electricity_related"]==True].FIRSTNAME.value_counts().head(10)

## 28. Can we be any more obnoxious in this assignment?

Not only are we going to detect gender from first names, but we're also going to use a library that has the terrible name of [sex machine](https://github.com/ferhatelmas/sexmachine/). Once upon a time there was Ruby package named sex machine and everyone was like "come on are you six years old? is this how we do things?" and the guy was like "you're completely right I'm renaming it to [gender detector](https://github.com/bmuller/gender_detector)" and the world was Nice and Good again. Apparently Python didn't get the message.

Except actually sexmachine doesn't work on Python 3 because it's from 300 BC so we're going to use a Python 3 fork called [gender guesser](https://pypi.python.org/pypi/gender-guesser/) (hooray!).

#### Use `pip` or `pip3` to install gender-guesser.

In [ ]:
!pip install gender-guesser

#### Test to see that it works

In [ ]:
import gender_guesser.detector as gender

detector = gender.Detector(case_sensitive=False)
detector.get_gender('David')

In [ ]:
detector.get_gender('Jose')

In [ ]:
detector.get_gender('Maria')

#### Use it on a dataframe

To use something fancy like that on a dataframe, you use `.apply`. Check it out:

In [ ]:
#df['FIRSTNAME'].fillna('').apply(lambda name: detector.get_gender(name)).head()

## 29. Calculate the gender of everyone's first name and save it to a column

Confirm by see how many people of each gender we have

In [ ]:
df["Gender"]=df["FIRSTNAME"].fillna('').apply(lambda name:detector.get_gender(name))

In [ ]:
df

## 30. We like taking risks - get rid of ambiguity

* Combine the `mostly_female` into `female` 
* Combine the `mostly_male` into `male`
* Replace `andy` (androgynous) and `unknown` with `NaN`

you can get NaN not by making a string, but with `import numpy as np` and then using `np.nan`.

In [ ]:
#Providing Ans to Q32 below as requires a count of ambiguous + unknown names before coding them as NaN

#Q32. What are the popular unknown- or ambiguous gender first names?

df[(df.Gender=="mostly_male") | (df.Gender=="mostly_female") | (df.Gender=="unknown")].FIRSTNAME.value_counts().head(10)

In [ ]:
df.loc[df["Gender"]=="mostly_female", "Gender"]="female"

In [ ]:
df.loc[df["Gender"]=="mostly_male", "Gender"]="male"

In [ ]:
df[(df["Gender"]=="andy") | (df["Gender"]=="unknown")]=np.nan

## 31. Do men or women have more licenses? What is the percentage of unknown genders?

In [ ]:
#Ans - males have more licenses

#Ans - The percentage of missing genders is 25.57%. 
df.Gender.value_counts(normalize=True, dropna=False)*100

## 32. What are the popular unknown- or ambiguous gender first names?

Yours might be different! Mine is a combination of actual ambiguity, cultural bias and dirty data.

In [ ]:
# Ans under Q30 above.

## 31. What are the most popular licenses for men? For women?

In [ ]:
df.groupby(by="Gender").LICTYPE.value_counts()

## 32. What is the gender breakdown for Property Tax Appraiser? How about anything involving Tow Trucks?

If you're in need, remember your good friend `.fillna(False)` to get rid of NaN values.

In [ ]:
df.LICTYPE.value_counts()

In [ ]:
df[df.LICTYPE.str.contains("Tow", regex=True).fillna(False)].Gender.value_counts()

In [ ]:
df[df.LICTYPE.str.contains("Property", regex=True).fillna(False)].Gender.value_counts()

(By the way, what are those tow truck jobs?)

In [ ]:
df[df.LICTYPE.str.contains("Tow", regex=True).fillna(False)]

## 33. Graph them!

And let's **give them titles** so we know which is which.

In [ ]:
df[df.LICTYPE.str.contains("Tow", regex=True).fillna(False)].Gender.value_counts().plot(kind="bar", title="Gender breakdown of occupations related to towing")

In [ ]:
df[df.LICTYPE.str.contains("Property", regex=True).fillna(False)].Gender.value_counts().plot(kind="bar", title="Gender breakdown of occupations related to Property Tax")

## 34. Calcuate the gender bias for profession

I spent like an hour on this and then realized a super easy way to do it. Welcome to programming! I'll do this part for you.

In [ ]:
# So when you do .value_counts(), it gives you an index and a value
df[df['Gender'] == 'male'].LICTYPE.value_counts().head()

We did `pd.concat` to combine dataframes, but you can also use it to combine series (like the results of `value_counts()`). If you give it a few `value_counts()` and give it some column names it'll make something real nice.

In [ ]:
# All of the values_counts() we will be combining
vc_series = [
    df[df['Gender'] == 'male'].LICTYPE.value_counts(),
    df[df['Gender'] == 'female'].LICTYPE.value_counts(),
    df[df['Gender'].isnull()].LICTYPE.value_counts()
]
# You need axis=1 so it combines them as columns
gender_df = pd.concat(vc_series, axis=1, sort=True)
gender_df.head()

In [ ]:
# Turn "A/C Contractor" etc into an actual column instead of an index
gender_df.reset_index(inplace=True)
gender_df.head()

In [ ]:
# Rename the columns appropriately
gender_df.columns = ["license", "male", "female", "unknown"]
# Clean up the NaN by replacing them with zeroes
gender_df.fillna(0, inplace=True)
gender_df.head()

In [ ]:
gender_df["total_licenses"]=(gender_df.male+gender_df.female+gender_df.unknown)
gender_df["percent_male"]=(gender_df.male/gender_df.total_licenses*100).round(2)
gender_df["percent_female"]=(gender_df.female/gender_df.total_licenses*100).round(2)
gender_df["total_percent"]=(gender_df.percent_male+gender_df.percent_female)
gender_df.head(5)

## 35. What 10 licenses with more than 2,000 people and over 75% known has the most male owners? The most female?

In [ ]:
print("There are no unknown cases (all the obsevrations with names were detected for a gender) so all licenses have a 100% known percentage.")
print("The 10 licenses with the most number of male owners is..")
gender_df[(gender_df.total_licenses>2000) & (gender_df.total_percent>75)].sort_values(by="percent_male", ascending=False).head(10)

In [ ]:
print("The 10 licenses with the most number of female owners is..")
gender_df[(gender_df.total_licenses>2000) & (gender_df.total_percent>75)].sort_values(by="percent_female", ascending=False).head(10)

## 36. Let's say you have to call a few people about being in a profession dominated by the other gender. What are their phone numbers?

This will involve doing some research in one dataframe, then the other one. I didn't put an answer here because I'm interested in what you come up with!

In [ ]:
#Step 1 - Creating separate lists of the top 5 male-dominated and female-dominated occupations
female_top5=[occupation for occupation in gender_df[(gender_df.total_licenses>2000) & (gender_df.total_percent>75)].sort_values(by="percent_female", ascending=False).license.head(5)]

male_top5=[occupation for occupation in gender_df[(gender_df.total_licenses>2000) & (gender_df.total_percent>75)].sort_values(by="percent_male", ascending=False).license.head(5)]

In [ ]:
#Step 2 - Sample a sub-set of people NOT in these occupations, excluding those without a phone number from the sampling frame, and extract their phone numbers

print("You can call these numbers of males in female dominated occupations")
df[(df.LICTYPE.isin(female_top5)) & (df.Gender=="male")&(df.MAILCITYSTATE.isnull()==False)].sample(5).MAILCITYSTATE.str.extract("([0-9].........)")

In [ ]:
print("You can call these numbers of females in male dominated occupations")
df[(df.LICTYPE.isin(male_top5)) & (df.Gender=="female")& (df.MAILCITYSTATE.isnull()==False)].sample(5).MAILCITYSTATE.str.extract("([0-9].........)")

## PART FIVE: Violations

### 37. Read in **violations.csv** as `violations_df`, make sure it looks right

In [19]:
# violations_df=pd.read_csv('violations.csv', thousands=',')
# violations_df

dtype('O')

### 38. Combine with your original licenses dataset dataframe to get phone numbers and addresses for each violation. Check that it is 90 rows, 28 columns.

In [17]:
combined_df=violations_df.merge(df, left_on='licenseno', right_on='LICNUMBER')
combined_df

,basis,city,complaintno,county,licenseno,name,order,orderDate,zipcode,LICTYPE,...,OWNER,MAILLINE1,MAILLINE2,MAILCITYSTATE,MAILCOUNTYCODE,MAILCOUNTY,MAILZIP,TELEPHONE,LICSUBTYPE,CEFLAG
0,"Respondent failed to disinfect tools, implemen...",HOUSTON,COS20160022565,HARRIS,768015,"NGUYEN, JOANNA",Respondent is assessed an administrative penal...,09-06-16,77090,Cosmetology Esthetician/Manicure Salon,...,PARADISE I NAILS & SPA,376 CYPRESS CREEK PKWY,NaN,HOUSTON TX 77090-3543,201.0,HARRIS,77090,2818660557,FM,N
1,Respondent leased space in a salon to an indiv...,HOUSTON,COS20160008193,HARRIS,762338,"NGUYEN, NAM TRONG",Respondent is assessed an administrative penal...,3/14/2016,77071,Dual Shop,...,CALI NAILS,111 N. TEXAS BLVD. SUITE A,NaN,ALICE TX 78332,249.0,JIM WELLS,78332,3615480405,DUAL,N

## 39. Find each violation involving a failure with records. Use a regular expression.

In [ ]:
combined_df[combined_df.basis.str.contains("failed to keep")]

## 40. How much money was each fine? Use a regular expression and .str.extract (we talked about it before!)

Unfortunately large and helpful troubleshooting tip: `$` means "end of a line" in regex, so `.extract` isn't going to accept it as a dollar sign. You need to escape it by using `\$` instead.

In [ ]:
combined_df["fine"]=combined_df.order.str.extract("in the amount of (\$\d+.\d+)")

## 41. Clean those results (no commas, no dollar signs, and it should be an integer) and save it to a new column called `fine`

`.replace` is for *entire cells*, you're interested in `.str.replace`, which treats each value like a string, not like a... pandas thing.

`.astype(int)` will convert it into an integer for you.

In [ ]:
combined_df["fine"]=combined_df["fine"].str.strip("$,.").str.replace(",", "").fillna(0).astype(int)

## 42. Which orders results in the top fines?

In [ ]:
combined_df.sort_values(by="fine",ascending=False)

## 43. Are you still here???

I'm sure impressed.

#### The End!